.button {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 9999px;
    box-shadow: var(--shadow-lg);
    transition: all 0.3s ease;
    background-color: #25d366;
    z-index: 50;
}

@media (min-width: 640px) {
    .button {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

.button:hover {
    box-shadow: var(--shadow-xl);
    background-color: #20bd5a;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    color: white;
}